<mat-toolbar class="navbar">
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="bold" fxLayoutAlign="start stretch" [fxShow]="true">
      <div routerLink="/home" class="navbar-icon">
        Netflix</div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div routerLink="/home" class="navbar-icon">
        Home</div>
      <div routerLink="/search" class="navbar-icon">
        Search</div>
    </div>
  </div>
</mat-toolbar>